*{
    box-sizing: border-box;
}

.container{
    max-width: 1144px;
    padding: 0 10px;
    margin: 0 auto;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    
}
.menu__list{
    
}