*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #544837;
    font-size: 16px;
    line-height: 26px;
}

button{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}



.title{
    color: #2F281E;
    font-weight: 700;
}

.container{
    max-width: 1144px;
    padding: 0 10px;
    margin: 0 auto;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 78px;
    
}
.menu{
    margin-left: auto;
}
.menu__list{
    display: flex;
}
.menu__list-item + .menu__list-item{
    padding-left: 24px;
}
.menu__list-link{
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #2F281E;
    text-decoration: none;
}
.menu__list-link:hover{
    font-weight: 500;
}
.user-nav{
    margin-left: 52px;
    margin-right: 13px;
}

.user-nav__link{
    padding: 11px 22px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #173A56;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    text-decoration: none;
}

.user-nav__link + .user-nav__link{
    color: #fff;
    border-color: transparent;
    background: #FF9900;
    border-radius: 4px;
    margin-left: 14px;
}    

.top__inner{
    padding: 133px 0 80px;
    background-image: url(../images/top-img.svg);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.top__title{
    font-weight: 700;
    max-width: 518px;
    font-size: 44px;
    line-height: 54px;
    margin-bottom: 30px;
}
.top__text{
    font-weight: 400;
    max-width: 458px;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 45px;
}
.top__btn{
    display: inline-block;
    color: #fff;
    border: none;
    padding: 15px 41px 14px;
    background-color: #FF9900;
    border-radius: 4px;
    margin-right: 30px;
    cursor: pointer;
     
}

.top__link{
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FF9900;
    padding-left: 26px;
    
    position: relative;
}
.top__link::before{
    position: absolute;
    content: "";
    background-image: url(../images/arrow.svg);
    width: 17px;
    height: 19px;
    left: 0;
    top: 2px;
}
